language: minimal
before_deploy:
  - git config --local user.name "Stephan Schwarz"
  - git config --local user.email "stearz@gmx.de"
  - export TRAVIS_TAG=$(cat VERSION)
  - git show-ref --tags | egrep -q "refs/tags/$TRAVIS_TAG$" && { echo 'version already exists' ; exit 1; } || git tag $TRAVIS_TAG
  - tar czvf /tmp/nagios-check-dns-serial.tar.gz ./* --exclude './VERSION' --exclude './.gitignore'
deploy:
  provider: releases
  api_key:
    secure: IKIQzH9c2soGoKj0YXsaPNg7ipP7HmKqVZ7jNsY9aYO+DUNhd362YACataKc2iVE4xqO3mMyHuGNNImgeKem9rBJszanainmVEWL4rSRJGQcGWP5Bp15RshQVQECxgg0p4hDuYQFsxgR1rgTL7NjhEWIFq286MjiFvhDQkiVYS35tyW7xYzt/keluhEnR1W1l6rUGlpJkACGJeouQnGEtZBYYFV78q7b8eqMOxCDpyvOZkwVfUpts4Xdv+1wQRtP4/wuXm+N/ld5M2q2Pq76gBYyhusETVMQKIBOJUvKtOV+XSN3Ed1O2r9BmNDHHtE6NzE06zrD8G7Rd++LqcUSE29Q2jeDnBKj6rO19ScWpbk/5niJZlttm4oRBPiG49FWZl4ZC/O3WDnGHLZgms2FZPVCjyVv9YhO/FeSLPhaegAWUhpTyIwLt1s5RyScqtGzQhX3XbMePQzzuXLpMYTnTEH6p0NzxD/ktzZbypEfx01ncOdANOvPRLwk7zlbGm9th5tcZKtwSQf++u87aafooWOhI7RNsIrX968ckdu4J1S46Ih72t5A2LXS3arI6R+clDjZ5GrQI2Lv3ulMJNCmssW+m6z0Hpv3cu1aw2ctss6gEZaAUZIb8xydoRpgWE3gDx2GpwBMAlBMDRZ+VTSaIMtvzZKNfm/9SzT9K8xjOus=
  file: nagios-check-dns-serial.tar.gz
  on:
    repo: stearz/nagios-check-dns-serial
  skip_cleanup: 'true'
